.a {
    height: 100vh;
    display: flex;
    align-items: center;
}

.a-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    margin-right: -70px;
  }

  .a-card.bg {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #333;
  }

.a-right {
    flex: 1;
    height: 90%;
}

.a-card {
  width: 60%;
  height: 70vh;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}

.a-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.a-title{
    font-weight: 400;
}

.a-sub{
    margin: 20px 0px;
    font-weight: 300;
}

.a-desc{
    font-weight: 300px;
    
}

.a-botR{
    flex: 1;
    height: 90%;
    padding-left: 20px;
    
}

.a-sub{
    font-weight: bold;
}
